body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

#about {
  text-align: center;
  padding: 20px;
}

#about img {
  border-radius: 50%;
  max-width: 200px;
}

#skills, #projects, #resume, #contact {
  text-align: center;
  padding: 20px;
}

.project {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

#skills {
  text-align: center;
  padding: 20px;
}

.skill-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 16px;
}

#contact {
  text-align: center;
  padding: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item img {
  margin-right: 10px;
  max-width: 24px; 
}

